%nav.navbar.menu-top.navbar-default.header-fullscreen.sticky-header.navbar-static-top
  %div.container-fluid
    %div.navbar-header
      %div.navbar-brand
        = image_tag "binary_logo.png", class: 'logo'
      = link_to 'SOFTWARE ENGINEER', root_path, class: 'navbar-brand'
    -#%ul.nav.navbar-nav
    %ul.nav.navbar-nav.navbar-right
      %li#home
        = link_to root_path do
          %i.glyphicon.glyphicon-home
          Home
      %li#about
        = link_to about_me_index_path do
          %i.glyphicon.glyphicon-briefcase
          About me
      %li#band
        = link_to root_path do
          %i.glyphicon.glyphicon-music
          Band
      %li#sport
        = link_to root_path do
          %i.glyphicon.glyphicon-globe
          Sport
    -#%ul.nav.navbar-nav.navbar-right
      %li
        = link_to root_path do
          %span.glyphicon.glyphicon-user
          Sign Up
      %li
        = link_to root_path do
          %span.glyphicon.glyphicon-log-in
          Login
